h1{
    color: #ff1744;

}

.dogInfoContainer{
    background-color: white;
    border-radius: 15px;
    margin: 3rem;
    width: 70%;
    /* display: flex; */
    
}
.titleDogAboutPage{
    display: flex;
    justify-content: center;
}
.dIDescription{
    margin: 1rem;
}
.containerInfoPage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainerImage{
    display: flex;
    margin: 1rem;
    align-items: center;

}
.dogDetails{
    margin: 1rem;
}
   